<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>乌鸡旅游0.1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E27BAC391BE1DF7F003C9D31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27BAC521BE1DF80003C9D31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27BAC5D1BE1DF80003C9D31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
